html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#contactlist {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.contact {
    flex-basis: 25%;
    margin: 15px 5px;
    border: 1px solid black;
    padding: 1em 2em 3em 2em;
    width: 200px;
}

.contact:hover,
.contact:active {
    border: 1px solid goldenrod;
    animation: jiggle 0.2s;
    box-shadow: 5px 15px 20px rgba(72, 62, 23, 0.4);
    background-color: lightgoldenrodyellow;
    z-index: 11;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1em;
}

@keyframes jiggle {
    0% {
        transform: rotate(0deg) scale(1);
        opacity: 1;
    }
    33% {
        transform: rotate(1deg) scale(1.0);
        opacity: 0.75;
    }
    66% {
        transform: rotate(-1deg) scale(1.0);
        opacity: 0.5;
    }
    100% {
        transform: rotate(0deg) scale(1);
        opacity: 1;
    }
}